#No-mobile {
  position: absolute;
  background-color: var(--yellow);
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
}

@media screen and (max-width: 645px) {
  #No-mobile {
    display: none;
  }
}
 
/*

@media screen not (orientation: landscape) {
  #No-mobile {
    display: none;
  }
}
 */